

.toRegister {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.toRegister__left {
  width: 46%;
}
.toRegister__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #00094A;
  margin-bottom: 15px;
}
.toRegister__header {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00094A;

  span {
    color: #06A39C;
  }
}
.toRegister__text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 255px;
  margin-bottom: 15px;
}
.toRegister__inner {
  display: flex;
}
.toRegister__item {
  margin-left: 39px;
  &:nth-child(1) {
    margin-left: 0;
  }
}
.toRegister__link {

}
.toRegister__img {

}
.toRegister__right {
  width: 46%;
}
.form {
  width: 100%;
}
.form input:nth-child(1) {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}
.form input:nth-child(2) {
  width: 49.7%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 40px;

}
.form input:nth-child(3) {
  width: 49.5%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 40px;

}
.form input:nth-child(4) {
  margin-bottom: 10px;
}
.form textarea {
  width: 100%;
  padding: 18px 20px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}
.form p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 30px;
}
.form-btn {
  padding: 14px 53px;
  border: none;
  background: #30D2A3;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  &:hover {
    background-color: #06A39C;
  }
}

@include breakpoint-down (760px) {
  .toRegister {
    position: relative;
    padding-top: 40px;
    padding-bottom: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .toRegister__left {
    width: 100%;
  }
  .toRegister__text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #00094A;
    margin-bottom: 15px;
  }
  .toRegister__header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #00094A;
    margin-bottom: 25px;
    span {
      color: #06A39C;
    }
  }
  .toRegister__text-title {
    position: absolute;
    bottom: 75px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 255px;
    margin-bottom: 15px;
  }
  .toRegister__inner {
    position: absolute;
    bottom: 40px;
    display: flex;
  }
  .toRegister__item {
    margin-left: 39px;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
  .toRegister__link {

  }
  .toRegister__img {

  }
  .toRegister__right {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .form input:nth-child(1) {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .form input:nth-child(2) {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;

  }
  .form input:nth-child(3) {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 30px;

  }
  .input-file {
    margin-bottom: 10px;
    width: 150px!important;
  }
  .form textarea {
    width: 100%;
    padding: 18px 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .form p {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 30px;
  }
  .form-btn {
    padding: 14px 53px;
    border: none;
    background: #30D2A3;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    &:hover {
      background-color: #06A39C;
    }
  }

}






















