
.video-block {
  padding-top: 28px;
  padding-bottom: 100px;
}
.video-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.video {
  width: 59%;
  height: 400px;
  position: relative;
  background: {
    image: linear-gradient(90deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../../img/qur.svg");
    repeat: no-repeat;
    size: cover;
  };
}
.video img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  cursor: pointer;
}
.video-data {
  width: 39%;
}
.calendar {

}
.calendar img {

}
.calendar span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #00094A;
  opacity: .5;
  margin-bottom: 21px;
}
.video-data__header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.video-data__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
}
.video-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.next-left {
  position: absolute;
  top: 135px;
  left: -80px;
}
.next-right {
  position: absolute;
  top: 135px;
  right: -80px;
}
.video-item {
  width: 30%;
  position: relative;

}
.mp4__video {
  margin-bottom: 15px;
}
.mp4__calendar {
  opacity: .4;

}
.mp4__calendar img {

}
.mp4__calendar span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #00094A;
}
.mp4__header {
  margin-bottom: 10px;
}
.mp4__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

@include breakpoint-down (760px) {
  .video-block {
    padding-top: 28px;
    padding-bottom: 70px;
  }
  .video-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .video {
    width: 100%;
    height: 174px;
    position: relative;
    background: {
      image: linear-gradient(90deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../../img/qur.svg");
      repeat: no-repeat;
      size: cover;
    };
  }
  .video img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    cursor: pointer;
  }
  .video-data {
    width: 100%;
  }
  .calendar {

  }
  .calendar img {
  }
  .calendar span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #00094A;
    opacity: .5;
  }
  .video-data__header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .video-data__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .video-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .next-left {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 55px;
    left: -20px;
  }
  .next-right {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 55px;
    right: -20px;
  }
  .video-item {
    width: 49%;
    position: relative;
    &:nth-child(2) {
      display: none;
    }

  }
  .mp4__video {
    margin-bottom: 15px;
  }
  .mp4__calendar {
    opacity: .4;

  }
  .mp4__calendar img {

  }
  .mp4__calendar span {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #00094A;
  }
  .mp4__header {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .mp4__text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

}




























